body {
	width: 100%;
}

.fond {
	background-image: url("http://placehold.it/350x150") no-repeat center center;
	position: fixed;  /* sert a figer le fond en haut de la page*/
	width: 100%;   /* le fond va occuper toute la largeur de l'ecran */
	height: 300px; /* IMPORTANT mettre ici la même hauteur que le jumbotron */
	top:0;
	left:0;
	z-index: -1;  /* sert a mettre l'image jumbotron en arriére plan */
}



















footer {
	height: 400px;
	color: #484848;
	border-top: 1px solid #dce0e0;
	padding-top: 48px;

	
}

section {
		
}

aside {
	
}

li {
	list-style-type:none;
	
}

.container {
	display: inline-flex;
	justify-content: space-around;
	margin: auto;
	padding: auto;
	
	
}

.dropdown {
	padding-bottom: 10px;
}

.bas {
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	border-top: 1px solid #dce0e0;
	padding-top: 48px;
	
}

.logos {

}

.liste {
	display: inline-flex;
}


